
*.~fr
*.~fr
*.~tb
*.~dl
5000_SDK_v32/CABSA/Respaldo/Cxp.~fr
5000_SDK_v32/CABSA/Respaldo/Dinero.~tb
5000_SDK_v32/CABSA/Respaldo/FormaPago.~tb
5000_SDK_v32/CABSA/Respaldo/GenerarCxcNCredito.~dl
5000_SDK_v32/CABSA/Respaldo/MenuCfgDinero.~dl
5000_SDK_v32/CABSA/Respaldo/MenuRepDinero.~dl
